# Settings connect to Watson Conversation service
WATSON_CONVERSATION_USERNAME=
WATSON_CONVERSATION_PASSWORD=
WATSON_WORKSPACE_ID=

# Settings to connect to Weather Company Data service
WEATHER_USERNAME=
WEATHER_PASSWORD=
WEATHER_HOST=

#Settings for Socket.IO
SOCKETIO_BOT_ID=
